<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Weight</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${items.content}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.weight}"></td>
    </tr>
    </tbody>
</table>
<div th:if="${items.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/items/listAll(page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==items.number + 1} ? active"></a>
</div>
</body>
</html>